<%= form_with(model: song) do |form| %>
  <% if song.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
        <% song.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<br />
  <div class="form-group">
    <%= form.text_field :song_title, class:"form-control", placeholder:"Song Title" %>
    <br/>
  </div>

  <div class="form-group">
    <%= form.text_field :album_title, class:"form-control", placeholder:"Album Title" %>
    <br/>
  </div>

  <div class="form-group">
    <%= form.text_field :artist_name, class:"form-control", placeholder:"Artist Name" %>
    <br/>
  </div>

  <div class="form-group">
    <%= form.number_field :user_id, id: :song_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <div>
  <br/>
    <%= form.submit class:"btn btn-dark" %>
  </div>
<% end %>
