<%= stylesheet_link_tag "search.css" %>

<div class="show">
  <% render @song %>


<img src="/assets/sound_wave.jpg" class="card-img-top" style="width:70em; height:20em;">
  <div class="card-body">
  <h2 style="font-weight: bold;">Song:</h2><h2><%= @song["song_title"]%></h2>
  <h2 style="font-weight: bold;">Album: </h2><h2><%= @song["album_title"]%></h2>
  <h2 style="font-weight: bold;">Artist: </h2><h2><%= @song["artist_name"]%></h2>
</div>
<br/>
  <div>
    <%= link_to "Edit this song", edit_song_path(@song), class:"btn btn-dark" %>
    <%= link_to "Back to songs", songs_path, class:"btn btn-dark" %>
    <br></br>
    <%= button_to "Delete this song", @song, method: :delete, class:"btn btn-outline-danger" %>
  </div>

<br/>